body{
  font-family: Arial, sans-serif;
  background:#faf8ef;
  text-align:center;
}

h1{
  color:#776e65;
}

#board{
  width:300px;
  height:300px;
  margin:20px auto;
  background:#bbada0;
  padding:10px;
  border-radius:5px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(4,1fr);
  gap:10px;
}

.tile{
  background:#cdc1b4;
  border-radius:3px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
  font-weight:bold;
  color:#776e65;
}
