:root{
  --bg:#f2f2f2;
  --text:#111;
  --card:#fff;
  --btn:#222;
}
body.dark{
  --bg:#121212;
  --text:#fff;
  --card:#1e1e1e;
  --btn:#fff;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:var(--bg);
  color:var(--text);
  display:flex;
  flex-direction:column;
  align-items:center;
}

h1{
  font-size:42px;
  margin:20px 0 25px; /* زدت المسافة من التحت */
}

.controls{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  margin-bottom:15px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  background:var(--btn);
  color:var(--bg);
  font-weight:bold;
}

.game{
  background:var(--card);
  padding:20px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,.2);
  margin-bottom:20px;
}

.board{
  display:grid;
  grid-template-columns:repeat(3,100px);
  grid-template-rows:repeat(3,100px);
  gap:10px;
}

.cell{
  background:var(--bg);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:48px;
  font-weight:bold;
  cursor:pointer;
}

#status{
  margin-top:15px;
  font-size:20px;
  text-align:center;
}

.scoreboard{
  margin-top:10px;
  font-size:18px;
  display:flex;
  gap:20px;
  justify-content:center;
}

.restart-container{
  margin-top:15px;
}

.section{
  max-width:800px;
  margin:40px 15px;
  background:var(--card);
  padding:20px;
  border-radius:12px;
}

.section h2{
  margin-top:0;
}

.placeholder{
  margin-top:10px;
  padding:15px;
  border:2px dashed #999;
  text-align:center;
  opacity:.7;
}

#balloons{
  position:fixed;
  inset:0;
  pointer-events:none;
  z-index:1000;
}

.balloon{
  position:absolute;
  width:30px;
  height:40px;
  background:red;
  border-radius:50% 50% 50% 50%;
  animation:float 4s linear forwards;
}

@keyframes float{
  0%{transform:translateY(0);}
  100%{transform:translateY(-800px);}
}

@media(max-width:600px){
  .board{grid-template-columns:repeat(3,80px); grid-template-rows:repeat(3,80px);}
}

.top-controls{
  margin-top:0;
  margin-bottom:30px; /* تبعاد على اللعبة */
  display:flex;
  gap:15px; /* تباعد بين الأزرار */
  justify-content:center;
}

.mode-controls{
  margin-top:15px;
  display:flex;
  gap:10px;
  justify-content:center;
}
